In [2]:
import glob
import pandas as pd

In [3]:
files = glob.glob('temp/users_toots_*.tsv')

In [4]:
toots = []
for file in files:
    current_toots = pd.read_csv(file, sep='\t')
    toots.append(current_toots)

toots = pd.concat(toots)
print(toots.head())

   Unnamed: 0            id                created_at  in_reply_to_account_id
0           0  1.103978e+17  2023-05-19T22:42:34.411Z                     NaN  \
1           1  1.103531e+17  2023-05-12T01:26:51.899Z                     NaN
2           2  1.103020e+17  2023-05-03T00:57:39.933Z            1.093024e+17
3           3  1.102568e+17  2023-04-25T01:23:04.735Z                     NaN
4           4  1.102491e+17  2023-04-23T16:45:51.906Z                     NaN

                                                 uri  replies_count
0  https://mastodon.social/users/swh113/statuses/...            0.0  \
1  https://mastodon.social/users/swh113/statuses/...            0.0
2  https://mastodon.social/users/swh113/statuses/...            1.0
3  https://mastodon.social/users/swh113/statuses/...            0.0
4  https://mastodon.social/users/swh113/statuses/...            0.0

   reblogs_count  favourites_count
0            0.0               0.0  \
1            0.0               0.0
2            0.0               1.0
3            0.0               0.0
4            1.0               2.0

                                             content             user_id
0  <p>I loathe making new guide ropes for geophys...  109314731178859108
1  <p>Ah, tornado season. Hockey on the iPad, sto...  109314731178859108
2  <p><span class="h-card"><a href="https://masto...  109314731178859108
3  <p>Congratulations to my student Raphael Schwa...  109314731178859108
4  <p>Author’s copies have arrived! Available May...  109314731178859108

In [5]:
print(len(toots))

1042585

In [6]:
print(len(toots['user_id'].unique()))

4478

In [7]:
toots.columns

Index(['Unnamed: 0', 'id', 'created_at', 'in_reply_to_account_id', 'uri',
       'replies_count', 'reblogs_count', 'favourites_count', 'content',
       'user_id'],
      dtype='object')

In [8]:
files = glob.glob('../data/users_followers_*_2023-05-02.csv')
all_users = []
for file in files:
    users = pd.read_csv(file, sep='\t', names=['user', 'instance', 'followers', 'field'], encoding_errors='replace', on_bad_lines='warn')
    all_users.append(users)

all_users = pd.concat(all_users)
print(all_users.head())
print(len(all_users))

Skipping line 50: expected 4 fields, saw 5

               user            instance
0           rheinze        assemblag.es  \
1          BrianJAP      mastodon.world
2       joelglasman     fediscience.org
3  brenton_peterson     sciences.social
4            keremd  social.anoxinon.de

                                           followers            field
0  [109417147220906349, 109243458234695495, 10924...  African Studies
1  [1302832, 110023631275744313, 1099309840163259...  African Studies
2                                                 []  African Studies
3  [107192220324249637, 109354941450990518, 10951...  African Studies
4  [1302832, 109212672053987101, 1092459114371518...  African Studies
12113

In [29]:
user_id_map = pd.read_csv('user_id_list.tsv', sep='\t')
user_id_map = user_id_map.drop_duplicates(subset=['user', 'instance'])

users = pd.merge(user_id_map, all_users, on=['user', 'instance'])
print(users.head())

   Unnamed: 0         user         instance             user_id
0           0      rheinze     assemblag.es  109287555889598271  \
1           0      rheinze     assemblag.es  109287555889598271
2           1     BrianJAP   mastodon.world  109376150646500709
3           2  joelglasman  fediscience.org  109285335069156233
4           2  joelglasman  fediscience.org  109285335069156233

                                           followers
0  [109417147220906349, 109243458234695495, 10924...  \
1  [109417147220906349, 109243458234695495, 10924...
2  [1302832, 110023631275744313, 1099309840163259...
3                                                 []
4                                                 []

                                             field
0                                  African Studies
1                                          History
2                                  African Studies
3                                  African Studies
4  Historians of Science, Medicine, and Technology

In [30]:
user_id_map[user_id_map['user_id'] == '109287555889598271']

   Unnamed: 0     user      instance             user_id
0           0  rheinze  assemblag.es  109287555889598271

In [31]:
users = users.astype({'user_id': 'object'})
toots = toots.astype({'user_id': str})

In [24]:
toots.head()

,Unnamed: 0,id,created_at,in_reply_to_account_id,uri,replies_count,reblogs_count,favourites_count,content,user_id
0,0,1.103978e+17,2023-05-19T22:42:34.411Z,NaN,https://mastodon.social/users/swh113/statuses/...,0.0,0.0,0.0,<p>I loathe making new guide ropes for geophys...,109314731178859108
1,1,1.103531e+17,2023-05-12T01:26:51.899Z,NaN,https://mastodon.social/users/swh113/statuses/...,0.0,0.0,0.0,"<p>Ah, tornado season. Hockey on the iPad, sto...",109314731178859108
2,2,1.103020e+17,2023-05-03T00:57:39.933Z,1.093024e+17,https://mastodon.social/users/swh113/statuses/...,1.0,0.0,1.0,"<p><span class=""h-card""><a href=""https://masto...",109314731178859108
3,3,1.102568e+17,2023-04-25T01:23:04.735Z,NaN,https://mastodon.social/users/swh113/statuses/...,0.0,0.0,0.0,<p>Congratulations to my student Raphael Schwa...,109314731178859108
4,4,1.102491e+17,2023-04-23T16:45:51.906Z,NaN,https://mastodon.social/users/swh113/statuses/...,0.0,1.0,2.0,<p>Author’s copies have arrived! Available May...,109314731178859108

In [32]:
users_toots = pd.merge(users, toots, on=['user_id'])
print(users_toots.head())

   Unnamed: 0_x     user      instance             user_id
0             0  rheinze  assemblag.es  109287555889598271  \
1             0  rheinze  assemblag.es  109287555889598271
2             0  rheinze  assemblag.es  109287555889598271
3             0  rheinze  assemblag.es  109287555889598271
4             0  rheinze  assemblag.es  109287555889598271

                                           followers            field
0  [109417147220906349, 109243458234695495, 10924...  African Studies  \
1  [109417147220906349, 109243458234695495, 10924...  African Studies
2  [109417147220906349, 109243458234695495, 10924...  African Studies
3  [109417147220906349, 109243458234695495, 10924...  African Studies
4  [109417147220906349, 109243458234695495, 10924...  African Studies

   Unnamed: 0_y            id                created_at
0             0  1.104198e+17  2023-05-23T20:15:11.179Z  \
1             1  1.104197e+17  2023-05-23T19:51:40.149Z
2             2  1.104197e+17  2023-05-23T19:50:20.431Z
3             3  1.104197e+17  2023-05-23T19:45:50.886Z
4             4  1.104196e+17  2023-05-23T19:08:13.371Z

   in_reply_to_account_id                                                uri
0            1.092876e+17  https://assemblag.es/users/rheinze/statuses/11...  \
1            1.092876e+17  https://assemblag.es/users/rheinze/statuses/11...
2            1.092876e+17  https://assemblag.es/users/rheinze/statuses/11...
3            1.092876e+17  https://assemblag.es/users/rheinze/statuses/11...
4            1.092876e+17  https://assemblag.es/users/rheinze/statuses/11...

   replies_count  reblogs_count  favourites_count
0            0.0            0.0               0.0  \
1            1.0            0.0               0.0
2            1.0            0.0               1.0
3            1.0            0.0               0.0
4            1.0            0.0               0.0

                                             content
0  <p>Reading slightly older Anglo lit on Gramsci...
1  <p>Hall said we need to &quot;delicately disin...
2                          <p>Sundown over Paris</p>
3  <p>Reading different texts on Gramsci, racism ...
4  <p>One thing I’ll start with is this. I’m read...

In [16]:
users_toots

Unnamed: 0     int64
user          object
instance      object
user_id       object
followers     object
field         object
dtype: object

In [20]:
toots.dtypes

Unnamed: 0                  int64
id                        float64
created_at                 object
in_reply_to_account_id    float64
uri                        object
replies_count             float64
reblogs_count             float64
favourites_count          float64
content                    object
user_id                     int64
dtype: object

In [41]:
users_toots.groupby('field')['id'].count().sort_values(ascending=False)

field
Journalism                                                                    163346
History                                                                       129359
Law                                                                           118266
Psychology                                                                     90791
Neuroscience                                                                   68789
Political Scientists                                                           63389
Philosophers and Philosophy Teachers                                           62502
Sociology                                                                      61807
Open Science                                                                   56570
Digital Humanities                                                             47939
Geographers                                                                    45250
Literary Studies                                                               44570
Education                                                                      40169
Qualitative Researchers                                                        37542
Science and Technology Studies (STS)                                           30556
Religion                                                                       27659
Chemistry                                                                      27131
Tech Policy                                                                    24259
Public Policy                                                                  24216
GLAMS                                                                          23865
Asian Studies                                                                  22994
Archaeology                                                                    20136
Genealogy                                                                      19035
History and Philosophy of Science                                              18149
Criminology                                                                    15612
Astrophysicists                                                                14582
Medieval History (Medievodons)                                                 14222
Meteorology & Weather                                                          13570
Information Security                                                           13103
Historians of Science, Medicine, and Technology                                12990
Book History (BookHistodons)                                                   12989
Atmospheric science and air quality                                            12774
Plant Science & Botany                                                          9846
Anthropology                                                                    8769
Theologidons                                                                    8466
Marketing and Consumer Research                                                 7283
Cheminformaticians and Computational Chemists                                   7242
African Studies                                                                 5173
Crowdsourcing in Cultural Heritage Citizen Science                              4346
Operations research                                                             4112
Biblical Studies                                                                3152
Semantic Web+                                                                   2917
Social Workers on Mastodon                                                      2780
Biophysicists                                                                   2731
Planetary Science                                                               2200
Health Psychologists                                                            1914
Organization & Management                                                       1420
International Image Interoperability Framework                                  1205
Medical AI                                                                      1067
Art and Design Teachers                                                          902
Bioinformatics                                                                   900
Nuclear Fusion                                                                   669
Dendrochronology                                                                 589
Islamic Studies Middle Eastern Studies Islamicate Studies Oriental Studies       452
Gender Studies                                                                   154
Palaeogenomicists                                                                 15
Name: id, dtype: int64