In [1]:
import datetime
import pandas as pd

In [23]:
toots = pd.read_csv('toots_kuni_list.tsv', sep='\t', dtype=object)
print(len(toots))
print(toots.head(100))

155031
   Unnamed: 0                  id                created_at
0           0  110547928364675842  2023-06-15T11:12:00.221Z  \
1           1  109865077222212213  2023-02-14T20:53:58.680Z
2           2  109865065540782373  2023-02-14T20:51:00.433Z
3           3  109822086288418991  2023-02-07T06:40:49.087Z
4           4  109806613521430505  2023-02-04T13:05:53.396Z
..        ...                 ...                       ...
95          8  110245392988703458  2023-04-23T00:53:16.726Z
96          9  110245384475140543  2023-04-23T00:51:06.824Z
97         10  110226281409769780  2023-04-19T15:52:57.180Z
98         11  110219920746185570  2023-04-18T12:55:21.155Z
99         12  110197507276343942  2023-04-14T13:55:18.749Z

   in_reply_to_account_id                                                uri
0                     NaN  https://mastodon.green/users/DrAnaQueiros/stat...  \
1                     NaN  https://mastodon.green/users/DrAnaQueiros/stat...
2                     NaN  https://mastodon.green/users/DrAnaQueiros/stat...
3                     NaN  https://mastodon.green/users/DrAnaQueiros/stat...
4                     NaN  https://mastodon.green/users/DrAnaQueiros/stat...
..                    ...                                                ...
95                    NaN  https://mas.to/users/ykhong/statuses/110245392...
96                    NaN  https://mas.to/users/ykhong/statuses/110245384...
97                    NaN  https://mas.to/users/ykhong/statuses/110226281...
98                    NaN  https://mas.to/users/ykhong/statuses/110219920...
99                    NaN  https://mas.to/users/ykhong/statuses/110197507...

   replies_count reblogs_count favourites_count
0            0.0           0.0              0.0  \
1            0.0           0.0              0.0
2            0.0           0.0              0.0
3            0.0           0.0              0.0
4            0.0           0.0              0.0
..           ...           ...              ...
95           1.0           5.0              7.0
96           0.0          10.0             14.0
97           0.0           2.0              7.0
98           0.0           0.0              1.0
99           0.0           3.0              5.0

                                              content
0                                                 NaN  \
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
95  <p>Samsung workers used the standard version o...
96  <p>LandBack is how we all live.</p><p><a href=...
97  <p>The doctor took a look at baby you and made...
98  <p>It should not, cannot, and must not take wh...
99  <p>Remember that your boundaries are yours, de...

                  mastodon_name
0   DrAnaQueiros@mastodon.green
1   DrAnaQueiros@mastodon.green
2   DrAnaQueiros@mastodon.green
3   DrAnaQueiros@mastodon.green
4   DrAnaQueiros@mastodon.green
..                          ...
95                ykhong@mas.to
96                ykhong@mas.to
97                ykhong@mas.to
98                ykhong@mas.to
99                ykhong@mas.to

[100 rows x 10 columns]

In [3]:
len(toots['mastodon_name'].unique())

1334

In [4]:
user_id_map = pd.read_csv('user111_id_list_kunilist_2023-06-30.tsv', sep='\t')
user_id_map = user_id_map.drop_duplicates(subset=['user', 'instance'])
user_id_map = user_id_map.dropna()

user_id_map['mastodon_name'] = user_id_map.apply(lambda row: "{}@{}".format(row['user'], row['instance']), axis = 1)
user_id_map.head()

,Unnamed: 0,user,instance,user_id,mastodon_name
0,0,HelmutBuergmann,mstdn.science,109290116551935157,HelmutBuergmann@mstdn.science
1,1,boshek,fosstodon.org,109314764090379220,boshek@fosstodon.org
2,2,DenisDuboule,mas.to,109258593858933399,DenisDuboule@mas.to
3,3,paulgkeil,mastodon.world,109500238977329432,paulgkeil@mastodon.world
4,4,rider_jon,zirk.us,109365280591812662,rider_jon@zirk.us

In [5]:
toots = toots.merge(user_id_map, on='mastodon_name')

In [6]:
toots.head()

,Unnamed: 0_x,id,created_at,in_reply_to_account_id,uri,replies_count,reblogs_count,favourites_count,content,mastodon_name,Unnamed: 0_y,user,instance,user_id
0,0,110547928364675842,2023-06-15T11:12:00.221Z,NaN,https://mastodon.green/users/DrAnaQueiros/stat...,0.0,0.0,0.0,NaN,DrAnaQueiros@mastodon.green,1290,DrAnaQueiros,mastodon.green,109296055170074546
1,1,109865077222212213,2023-02-14T20:53:58.680Z,NaN,https://mastodon.green/users/DrAnaQueiros/stat...,0.0,0.0,0.0,NaN,DrAnaQueiros@mastodon.green,1290,DrAnaQueiros,mastodon.green,109296055170074546
2,2,109865065540782373,2023-02-14T20:51:00.433Z,NaN,https://mastodon.green/users/DrAnaQueiros/stat...,0.0,0.0,0.0,NaN,DrAnaQueiros@mastodon.green,1290,DrAnaQueiros,mastodon.green,109296055170074546
3,3,109822086288418991,2023-02-07T06:40:49.087Z,NaN,https://mastodon.green/users/DrAnaQueiros/stat...,0.0,0.0,0.0,NaN,DrAnaQueiros@mastodon.green,1290,DrAnaQueiros,mastodon.green,109296055170074546
4,4,109806613521430505,2023-02-04T13:05:53.396Z,NaN,https://mastodon.green/users/DrAnaQueiros/stat...,0.0,0.0,0.0,NaN,DrAnaQueiros@mastodon.green,1290,DrAnaQueiros,mastodon.green,109296055170074546

Total of toots (Kuni list from Twitter): 186,941

Number of mastodon users (Kuni list from Twitter): 4311

In [7]:
print(len(toots))
print(len(user_id_map))

155031
4311

Number of active users: 1392 of 4311

In [8]:
print(len(toots['user_id'].unique()))

1334

In [9]:
fields_of_study = pd.read_csv('mastodon_users_wOpenAlex2.csv')
fields_of_study.head()

,Unnamed: 0,mastodon_name,OpenAlex_account,x_concepts,id_str
0,74,@HelmutBuergmann@mstdn.science,https://openalex.org/A2076598371,"[{'id': 'https://openalex.org/C86803240', 'wik...",806806433404620800
1,170,@boshek@fosstodon.org,https://openalex.org/A2114692991,"[{'id': 'https://openalex.org/C86803240', 'wik...",1317009122
2,219,@DenisDuboule@mas.to,https://openalex.org/A295410851,"[{'id': 'https://openalex.org/C54355233', 'wik...",1376641550
3,266,@paulgkeil@mastodon.world,https://openalex.org/A2061685470,"[{'id': 'https://openalex.org/C15744967', 'wik...",359880812
4,299,@rider_jon@zirk.us,https://openalex.org/A2646935175,"[{'id': 'https://openalex.org/C142362112', 'wi...",890826954

In [10]:
import ast
from collections import defaultdict

fields_of_study = fields_of_study.dropna()

field2author = defaultdict(lambda:[])
for _, author in fields_of_study.iterrows():
    fields = ast.literal_eval(author['x_concepts'])
    # fields = json.loads(concepts_string)
    for subfield in fields:
        if subfield['level'] == 0 and subfield['score'] >= 50:
            field2author[subfield['display_name']].append(author['mastodon_name'][1:])

In [11]:
field2author = dict(sorted(field2author.items(), key=lambda item: -len(item[1])))
len(field2author.keys())

19

In [12]:
field_toots_count = []
for field, authors in field2author.items():
    authors = set(authors)
    toots_field = toots[toots['mastodon_name'].isin(authors)]
    field_toots_count.append((field, len(authors), len(toots_field)))

print(field_toots_count[:3])

[('Biology', 2743, 75864), ('Computer science', 2224, 78600), ('Medicine', 1850, 42509)]

## number of toots by field of study

In [13]:
sorted(field_toots_count, key=lambda row: -row[-1])

[('Computer science', 2224, 78600),
 ('Biology', 2743, 75864),
 ('Political science', 1284, 61139),
 ('Sociology', 1025, 49690),
 ('Physics', 1254, 45653),
 ('Medicine', 1850, 42509),
 ('Geography', 707, 38799),
 ('Philosophy', 1033, 35143),
 ('Mathematics', 1044, 34862),
 ('History', 517, 34320),
 ('Engineering', 907, 34093),
 ('Psychology', 1390, 33255),
 ('Chemistry', 1264, 31645),
 ('Economics', 844, 26575),
 ('Geology', 841, 24651),
 ('Business', 419, 19284),
 ('Art', 312, 16591),
 ('Environmental science', 328, 12988),
 ('Materials science', 249, 4784)]

## number of inactive users by field of study

In [14]:
active_users = toots['mastodon_name'].unique()
print(active_users[:10])
# TODO trocar por user_instance

inactive_users = defaultdict(lambda:[])
for field, authors in field2author.items():
    for author in authors:
        if not author in active_users:
            inactive_users[field].append(author)

['DrAnaQueiros@mastodon.green' 'macaskillaf@fediscience.org'
 'mayrl@sciences.social' 'ykhong@mas.to' 'DylanPare@mastodon.social'
 'sophieduroy@fediscience.org' 'jhi@mstdn.social'
 'EmilyOGorman@mastodon.world' 'CathleenCrudden@mstdn.social'
 'Dmcampbellwsu@hcommons.social']

In [15]:
for field, authors in inactive_users.items():
    print(field, len(authors), len(field2author[field]))

Biology 2044 2743
Computer science 1585 2226
Medicine 1368 1851
Psychology 933 1392
Political science 816 1286
Chemistry 980 1264
Physics 902 1255
Mathematics 739 1046
Philosophy 665 1034
Sociology 683 1027
Engineering 655 909
Economics 557 845
Geology 617 841
Geography 493 707
History 342 517
Business 272 420
Environmental science 232 328
Art 199 312
Materials science 179 249

In [28]:
## quantidade de toots na linha do tempo, quem continua ativo? quem não?

## olhar a data de criação do perfil como 0 e contar as semanas a partir disso

import util

def get_userprofile(user_name, user_server):
    token_access = util.get_instance_token(user_server)
    user_profile = util.get_user_lookup(user_name, user_server, token_access)
    try:
        tt_user = ""
        for field in user_profile["fields"]:
            if field["name"] == "Twitter":
                tt_user = field["value"]

        bio = user_profile["note"]
        created = user_profile["created_at"]
        display_name = user_profile["display_name"]
        followers = user_profile["followers_count"]
        following = user_profile["following_count"]
        return (
            user_name,
            user_server,
            display_name,
            tt_user,
            followers,
            following,
            created,
            bio.replace("\t", " "),
        )
    except:
        print(user_profile)
        return None

In [29]:
today = datetime.datetime.today().strftime('%m-%d-%Y')
kuni_users_mastodon = []
for idx, row in user_id_map.iterrows():
    user = get_userprofile(row['user'], row['instance'])
    if user != None:
        kuni_users_mastodon.append(user)

kuni_df = pd.DataFrame(kuni_users_mastodon)
kuni_df.to_csv('user_profiles_kuni_{}.tsv'.format(today), sep='\t')

{'error': 'Too many requests'}